.Ssylki-anime-v-1-blok-1_custom1 {
  position: relative;
  margin: 0;
  text-align: center;
}
.Ssylki-anime-v-1_custom1 {
  position: relative;
  display: inline-flex;
  vertical-align: top;
  height: 100%;
  padding: 0;
  overflow: visible;
  margin: 5px 0.5% 3.5rem 0.5%;
}
.Ssylki-anime-v-1_custom1 strong {
  width: 100%;
  border-radius: 0.25rem;
  position: relative;
  z-index: 5;
  padding-bottom: 60%;
  overflow: hidden;
}

.Ssylki-anime-v-1_custom1 > strong > a::before {
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  filter: contrast(102%) grayscale(15%);
  margin: auto;
  background-color: #151414;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  border-radius: 0.2rem 0.2rem 0 0;
  box-shadow: inset 0 0 15px 5px rgb(0 0 0 / 50%);
}

.Ssylki-anime-v-1_custom1 .Fon1 {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  margin: auto;
  border-radius: 0.2rem 0.2rem 0 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  padding: 15px;
  font-size: 20px;
  line-height: 1.15;
  overflow: hidden;
  font-family: cursive;
  background-color: #1f1e1e;
  color: #f58ebb;
  text-shadow: 1px 0 2px #000000cc, -1px 0 2px #000000cc, 0 1px 2px #000000cc, 0 -1px 2px #000000cc;
  pointer-events: none;
  opacity: 0;
  box-shadow: inset 0 0 15px 5px rgb(0 0 0 / 50%);
  transition: opacity 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease;
}

div.Ssylki-anime-v-1_custom1:hover .Fon1 {
  opacity: 1;
}
.Ssylki-anime-v-1_custom1 .Fon1::after {
  position: absolute;
  content: "";
  background-image: url("https://i.yapx.ru/O4X0G.jpg");
  width: 100%;
  height: 100%;

  box-shadow: inset 0 0 15px 5px #00000080;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.2rem 0.2rem 0 0;
  z-index: -1;
}

.Ssylki-anime-v-1_custom1 .Text-dno-ramka {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  margin: auto;
  height: calc(100% + 3rem);
  border: solid 2px transparent;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  white-space: normal;
  text-shadow: 1px 0 2px #000000cc, -1px 0 2px #000000cc, 0 1px 2px #000000cc, 0 -1px 2px #000000cc;
  box-shadow: 0 2px 6px 0px #00000040;
  background: rgba(var(--block-color), 0.15);
  line-height: 1.5;
  font-size: 15px;
  color: #cce0d1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  padding: 59% 0.15rem 0;
  border-radius: 0.25rem;
}
.Ssylki-anime-v-1_custom1 .b-link {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  min-height: 2.5rem;
  line-height: 1.45;
  z-index: 1;
  border-radius: 0.2rem 0.2rem 0 0;
  background: none;
  overflow: hidden;
  transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
}
@media screen and (min-width: 50px) {
  .Ssylki-anime-v-1_custom {
    width: calc(100% / 2.3 - 1 * 1%);
  }
}
@media screen and (min-width: 600px) {
  .Ssylki-anime-v-1_custom {
    width: calc(100% / 3.3 - 1 * 1%);
  }
}
@media screen and (min-width: 800px) {
  .Ssylki-anime-v-1_custom {
    width: calc(100% / 4.3 - 1 * 1%);
  }
}
@media screen and (min-width: 1200px) {
  .Ssylki-anime-v-1_custom {
    width: calc(100% / 5.3 - 1 * 1%);
    margin: 5px 0.37% 3.5rem 0.37%;
  }
}

/* --------------------------------------------------------------------------------- */






















